.continuar{
    display: flex;
    justify-content: flex-end;
}

.row{
    align-items: center;
}

.formulario{
    color: whitesmoke;
    margin: 1rem;
}

.terycon{
    text-align: start;
}

.boton{
    text-align: end;
}

.pCatag{
    margin: 1rem;
    color: whitesmoke;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    font-size: x-large;
    }

.CatalogoImg{
    display: flex;
    height: 70%;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.CatalogoImg img{
    width: 90%;
    align-self: center;
    @media screen and (min-width: 1024px){
        height: 85vh;;
        
    }
}