.redes{
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: #198754;
    margin-top: 1rem;
}
.redesSociales{
    display: flex;
    align-self: center;
}
