@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

.historia {
    display: flex;
    justify-content: center;
}

.htitulo {
    margin-top: 2rem;
    color: whitesmoke;
    width: 95%;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 3rem;
}

.conteinerLDT {
    color: whitesmoke;
    margin: 1rem;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.ldt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

// .derecha {
//     width: 50%;
//     display: flex;
//     align-self: flex-end;
// }

// .izquierda {
//     width: 50%;
//     display: flex;
//     align-self: flex-start;
// }

.hinfo {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 1rem;
}

.informacion {
    padding: 1rem;
    margin: 1rem;
    width: 90%;
    color: #212529;
    background-color: whitesmoke;
    font-size: large;
    font-weight: 600;
}


@media screen and (min-width: 766px) {

    .conteinerLDT {
        color: whitesmoke;
        margin: 1rem;
        width: auto;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }

    .ldt {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .derecha {
        width: 50%;
        display: flex;
        align-self: flex-end;
    }

    .izquierda {
        width: 50%;
        display: flex;
        align-self: flex-start;
    }

    .hinfo {
        text-align: center;
    }

    .informacion {
        padding: 1rem;
        margin: 1rem;
        width: 90%;
        color: #212529;
        background-color: whitesmoke;
    }
}