main{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .inicio{
        width: 95%;
        align-self: center;

        .row{
            margin-top: 2rem;
            text-align: center;
            align-items: center;

            .parrafoTapar{
                margin-bottom: 2rem;
                color: whitesmoke;
                font-weight: 200;
                font-size: x-large;
            
                .colorBlanco{
                    color: white;
                    text-transform: uppercase;
                }
                
                .colorBeige{
                    color: beige;
                    text-transform: uppercase;
                }
                
                .colorGris{
                    color: grey;
                    text-transform: uppercase;
                }
                
                .colorNatural{
                    color: wheat;
                    text-transform: uppercase;
                }
            }
        }
    }
    .tabla{
        width: 95%;
        align-self: center;
        margin-top: 5rem;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .detalle{
        width: 100%;
        margin-top: 5rem;
        color: whitesmoke;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .h1Inicio{
            text-transform: uppercase;
            font-size: 3em;
            text-align: center;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .pInicio{
            width: 70%;
            margin-top: 2rem;
            font-size: 1.5em;
        }
        
    }
}

.carousel-inner{
    @media screen and (min-width: 1024px){
        height: 85vh;
    }
}

@media screen and (min-width: 600px){
    .taparInicio{
        margin: 2rem 1rem 2rem 1rem;
        text-align: center;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .tituloTapar{
        color: whitesmoke;
        letter-spacing: 20px;
        font-size: 100px;
        font-weight: bolder;
        text-align: center;
        grid-area: tituloT;
    }
    
    .parrafoTapar{
        color: whitesmoke;
        font-weight: 300;
        font-size: xx-large;
        grid-area: parrafoT;
    }
}