@import "generales";
@import "header";
@import "inicio";
@import "footer";
@import "nosotros";
@import "gusanito";
@import "contacto";
@import "historia";


/* ------PRODUCTOS y NOSOTROS------------ */

.contenedorProductos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "uno"
    "dos"
    "tres"
    "cuatro";
    gap: 1rem;
}

.product{
    width: 100vw;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.anchoProd{
    width: 90%;
    transition: transform 0.5s;
    &:hover{
        transform: scale(1.1);
    }
}

.ventasUno{
    grid-area: uno;
    @extend .anchoProd;
}

.ventasDos{
    grid-area: dos;
    @extend .anchoProd;
}

.ventasTres{
    grid-area: tres;
    @extend .anchoProd;
}

.ventasCuatro{
    grid-area: cuatro;
    @extend .anchoProd;
}

.ventasCinco{
    grid-area: cinco;
    @extend .anchoProd;
}

.ventasSeis{
    grid-area: seis;
    @extend .anchoProd;
}

.ventasSiete{
    grid-area: siete;
    @extend .anchoProd;
}

.ventasOcho{
    grid-area: ocho;
    @extend .anchoProd;
}

/* ----------tablet ------------------*/

@media screen and (min-width: 600px) {

main{
   height: 100%; 
}

/* ----productos tablet----- */

.contenedorProductos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "uno dos"
    "tres cuatro";
    gap: 1rem;
    margin-top: 2rem;
}

.product{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
}

@media screen and (min-width: 1024px){

/* ------productos desktop------- */

.contenedorProductos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "uno dos tres"
    "cuatro";
    gap: 1rem;
    margin-top: 2rem;
}

.product{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

}
