*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    background-color: #252525;
}

/* --------HEADER---------- */

header{
    width: 100vw;
    height: 100vh;
    background-color: #005232;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 2rem; */
}

.logoHome{
    width: 100vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoHome_Img{
    position: relative;
    width: 80vw;
    max-width: 100%;
    max-height: 100%;
    border: solid 5px #252525;
    overflow: hidden;
}

header ul li{
    list-style: none;
    background-color: whitesmoke;
    text-align: center;
    padding: 2vh 10vw 2vh 10vw;
    margin: 1rem;
    font-size: x-large;
    border: solid 5px #252525;
}

.categorias{
    height: 50vh;
}

.Secciones{
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    color: #252525;
}

/* --------------MAIN INICIO--------------- */

main{
    width: 100%;
    height: 95vh;
}

.Living{
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas: 
    "tituloT"
    "parrafoT"
    "fondo";
}

.taparInicio{
    margin: 2rem 1rem 2rem 1rem;
    text-align: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tituloTapar{
    color: whitesmoke;
    letter-spacing: 20px;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    grid-area: tituloT;
}

.parrafoTapar{
    color: whitesmoke;
    font-weight: 300;
    /* font-size: larger; */
    grid-area: parrafoT;
}

.colorBlanco{
    color: white;
    text-transform: uppercase;
}

.colorBeige{
    color: beige;
    text-transform: uppercase;
}

.colorGris{
    color: grey;
    text-transform: uppercase;
}

.colorNatural{
    color: wheat;
    text-transform: uppercase;
}

.fondo{
    width: 100vw;
    height: 90%;
    grid-area: fondo;
}

.fondoTapar{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.texto .imagenes{
    height: 40vh;
}

/* ---------footer-------- */

footer{
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* vertical-align: bottom; */
}

/* --------Contacto------------ */

.contactoFormulario{
    height: 5vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: xx-large;
    text-align: center;
    color: whitesmoke;
    font-weight: bolder;
    letter-spacing: 0.5rem;
}

.selector{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: stretch;
    grid-template-areas: 
    "lado lado"
    "logo logo"
}

.elegiUnLado{
    grid-area: lado;
    text-align: center;
    margin-top: 1rem;
}

.eleccionColor{
    grid-area: Color;
    width: 50vw;
    text-align: center;
}

.eleccionBlanco{
    grid-area: Blanco;
    width: 50vw;
    text-align: center;
}

.eleccionLogos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    grid-area: logo;
}

.formulario{
    color: whitesmoke;
    margin: 1rem;
    height: 75vh;
}

/* -----NOSOTROS------- */

.nosotros{
    color: whitesmoke;
    text-align: center;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoTapar{
    display: flex;
    align-items: center;
    height: 65vh;
    width: 100vw;
    max-width: auto;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.videoTapar video{
    max-width: 100%;
    max-height: 65vh;
    overflow: hidden;
    position: relative;
}

/* ------PRODUCTOS------------ */

.contenedorProductos{
    display: grid;
    grid-template-columns: 90%;
    grid-template-areas: 
    "uno"
    "dos"
    "tres"
    "cuatro";
    gap: 1rem;
}

.product{
    width: 100vw;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.ventasUno{
    grid-area: uno;
    width: 90%;
}

.ventasDos{
    grid-area: dos;
    width: 90%;
}

.ventasTres{
    grid-area: tres;
    width: 90%;
}

.ventasCuatro{
    grid-area: cuatro;
    width: 90%;
}

/* ----------tablet ------------------*/

@media screen and (min-width: 600px) {

header{
        /* width: 100vw; */
        height: 40vh;
        background-color: #005232;
        display: grid;
        grid-template-areas:
        "logo categorias";
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        /* padding-top: 2rem; */
    }

.logoHome{
    grid-area: logo;
    width: 50vw;
    height: 40vh;
}

.categorias{
    grid-area: categorias;
    width: 50vw;
    height: 10vh;
}


header ul li{
    list-style: none;
    background-color: whitesmoke;
    text-align: center;
    padding: 0.5vh 5vw 0.5vh 5vw;
    margin: 0.5rem;
    font-size: x-large;
    border: solid 5px #252525;
    align-items: center;
    display: flex;
    justify-content: center;

}

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5vh;
}

main{
   height: 100%; 
}
footer{
    margin-top: 1.5rem;

}
/* ------ inicio tablet */

.taparInicio{
    margin: 2rem 1rem 2rem 1rem;
    text-align: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tituloTapar{
    color: whitesmoke;
    letter-spacing: 20px;
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    grid-area: tituloT;
}

.parrafoTapar{
    color: whitesmoke;
    font-weight: 300;
    font-size: 4vh;
    grid-area: parrafoT;
}

/* ----nosotros tablet----- */

.nosotros{
    font-size: 4vh;
}

/* ----productos tablet----- */

.contenedorProductos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "uno"
    "dos"
    "tres"
    "cuatro";
    gap: 1rem;
    margin-top: 2rem;
}

.product{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}


}

@media screen and (min-width: 1024px){

    header{
        /* width: 100vw; */
        height: 40vh;
        background-color: #005232;
        display: grid;
        grid-template-areas:
        "logo logo logo logo"
        "categorias categorias categorias categorias";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        /* padding-top: 2rem; */
    }

.logoHome{
    grid-area: logo;
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-items: center;
}

.categorias{
    grid-area: categorias;
    width: 10vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5px;
    margin-right: 5px;
}


header ul li{
    list-style: none;
    background-color: whitesmoke;
    text-align: center;
    padding: 2vw 5vw 2vw 5vw;
    margin: 1rem;
    font-size: x-large;
    border: solid 5px #252525;
    align-items: center;
    display: flex;
    justify-content: center;

}


/* ------productos desktop------- */

.contenedorProductos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "uno dos"
    "tres cuatro";
    gap: 1rem;
    margin-top: 2rem;
}

.product{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

}
